
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,100&display=swap');


.sidebar{
    background-color:paleturquoise;
    width: 300px;
    height: 1100px;
}
sidebar nav {
    padding: 20px;
}
.sidebar nav li {
text-decoration: none;
color:black;
line-height: 110px;
font-size: 40px;

}
.main{
    background-color:whitesmoke;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 1200px;
    height: 800px;

}
.container{
    display: flex;
}

.infocontainer{
   /* background-color: greenyellow;*/
    HEIGHT: 50px;
    WIDTH: 80px;
    margin: 114px auto;
    display: flex;
    justify-content: space-around ;
    
}
.info1{
    display: flex;
    justify-content: top;
    flex-direction: column;

}
.prac{
    font-size: 110px;
    font-weight: bold;
    justify-content: top;
    border-bottom: 2px solid pink;
    
    
}
.about{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    

}
.btn{
    padding: 9px 14px;
    border-radius: 10px;
    color: cadetblue;
    background-color:white;
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
    
}
.btn:hover{
    color: white;
    background-color: cadetblue;


}
.contactme{
font-family: 'Times New Roman', Times, serif;
padding: 0 30px;
}
.contactme h1{
font-family: 'Times New Roman', Times, serif;
border-bottom: 1px solid lightsalmon;

font-weight: bold;}
.contactme div{
    padding: 10px 0;
}
h1{
    color: blueviolet;
}

.mycv{
    color:bisque;
    font-size: 90px;
    font-style:italic;
}
h2{
    color: chocolate;
    padding: 20px;
   
}
.intro{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: italic;
    line-height: 30px;
    
}
.skill
{font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: italic;
    line-height: 30px;
    }
    table,th,td{
        border: 1px solid;
    }
.name{
    text-align: right;
}
.cv{
    line-height: 20px;
}
img{
    height:200px;
    width: 200px;
    padding:30px;

}
.picture img:hover{
    transform: scale(3.6);
}
.cl12{
position: relative;
left: 10px;

}
